<h1>New Game</h1>
<form method="post" action="/video_game">
 <p>
    <label for="title" style="display: block;">Title:</label>
    <input type="text" name="title" />
 </p>
 <p>
 <label for="system" style="display: block;">System:</label>
 <input type="text" name="system" />
 </p>
 <p>
 <label for="genre" style="display: block;">Genre:</label>
 <input type="text" name="genre" />
 </p>
 <p>
 <label for="complete?" style="">Did you complete it?</label>
 <input type="checkbox" 
 </p>
 <p>
 <label for="multiplayer?" style="">Can you play with friends?</label>
 </p>